<ion-view title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header center ">

        <h1>Ng-Cordova</h1>
        <img src="img/ngcordova.png" width="200px" height="200px" />
        <p class="description">

            It's a demo app for "ng-cordova". There a functionality not yet implemented.
            Ng-Cordova is a angular module to call a cordova functionality with angular.

            <br/>
            This app use Ionic Framework.
        </p>
        <p>
            Developed by S.D.C.O<br/>
            team : Web & Mobile Framework<br/>
            developer : Maxime Gens<br/>
        </p>
    </ion-content>
</ion-view>