<ion-view title="Camera">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Camera</h1>
      <p class="description">
          This plugin provides an API for taking pictures and for choosing images from the system's image library.
      </p>
        <button ng ng-click="takePicture();" class="button button-block button-stable">Take picture</button>

      <img id="myImage" style="width:200px;height:250px;"/>

  </ion-content>
</ion-view>
