<ion-view title="Device orientation">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Device orientation</h1>
      <p class="description">This plugin provides access to the device's compass. The compass is a sensor that detects the direction or
          heading that the device is pointed,
          typically from the top of the device. It measures the heading in degrees from 0 to 359.99, where 0 is north.</p>
      <div >
          <strong>getCurrentHeading</strong> <br/>
           MagneticHeading : {{magneticHeading}} <br/>
           TrueHeading : {{trueHeading}} <br/>
           HeadingAccuracy : {{headingAccuracy}} <br/>

      </div>
      <br />
      <div >
          <strong>watchHeading (update every 1 seconds)</strong> <br/>
          MagneticHeading : {{watchmagneticHeading}} <br/>
          TrueHeading : {{watchtrueHeading}} <br/>
          HeadingAccuracy : {{watchheadingAccuracy}} <br/>
          <br />
      </div>
  </ion-content>
</ion-view>
