<ion-view title="Dialogs">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Dialogs</h1>
      <p class="description">
          This plugin provides access to some native dialog UI elements.
      </p>
      <button class="button button-block button-stable" ng-click="alert();">Alert</button>
      <button class="button button-block button-stable" ng-click="confirm();">Confirm</button>
      <button class="button button-block button-stable" ng-click="prompt();">Prompt</button>
      <button class="button button-block button-stable" ng-click="beep();">Beep</button>

  </ion-content>
</ion-view>
