<ion-view title="Globalization">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Globalization</h1>
      <p class="description">
          This plugin obtains information and performs operations specific to the user's locale, language,
          and timezone. Note the difference between locale and language: locale controls how numbers, dates,
          and times are displayed for a region, while language determines what language text appears as,
          independently of locale settings. Often developers use locale to set both settings,
          but there is no reason a user couldn't set her language to "English" but locale to "French",
          so that text is displayed in English but dates, times, etc., are displayed as they are in France.
          Unfortunately, most mobile platforms currently do not make a distinction between these settings.
      </p>
      <p>
          preferred language : {{preferredLanguage}} <br />
          Local Name  : {{localName}} <br />
          First day of week : {{firstDay}} <br />

      </p>
  </ion-content>
</ion-view>
