<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Example Plugins</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/accueil">
            <srong>Home</srong>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/barcode-scanner">
            Barcode Scanner Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/camera">
            Camera Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/contacts">
            Contacts Plugin
        </ion-item>
       <ion-item nav-clear menu-close href="#/app/device">
            Device Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/device-motion">
          Device Motion Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/device-orientation">
          Device Orientation Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/dialogs">
          Dialogs Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/file">
          File Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/geolocation">
          Geolocation Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/globalization">
          Globalization Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ionic-keyboard">
          Ionic Keyboard Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/network">
          Network Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/pin-dialog">
          Pin Dialog Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/push-notification">
          Push Notification Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/scanner">
          Scanner Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/social-sharing">
          Social Sharing Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/spinner-dialog">
          Spinner Dialog Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/splashscreen">
          Splashscreen Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/sql-lite">
          SQL-Lite Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/statusbar">
          Statusbar Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/toast">
          Toast Plugin
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/vibration">
          Vibration Plugin
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
