<ion-view title="Push Notification">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Push Notification</h1>
      <p class="description">
          This plugin is for use with Cordova, and allows your application to receive push notifications on Amazon Fire OS,
          Android, iOS and WP8 devices. The Amazon Fire OS implementation uses Amazon's ADM (Amazon Device Messaging) service,
          the Android implementation uses Google's GCM (Google Cloud Messaging) service,
          whereas the iOS version is based on Apple APNS Notifications. The WP8 implementation is based on MPNS.

          Important - Push notifications are intended for real devices. They are not tested for WP8 Emulator.
          The registration process will fail on the iOS simulator. Notifications can be made to work on the Android Emulator,
          however doing so requires installation of some helper libraries, as outlined here,
          under the section titled "Installing helper libraries and setting up the Emulator".
      </p>


  </ion-content>
</ion-view>
