<ion-view title="Statusbar">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Statusbar</h1>
    <p class="description">
        Configure the device's StatusBar with colors and styles.
    </p>
      <button class="button button-stable button-block" ng-click="black();">Black status bar</button>
      <button class="button button-stable button-block" ng-click="white();">White status bar</button>
      <button class="button button-stable button-block" ng-click="hide();">Hide status bar</button>
      <button class="button button-stable button-block" ng-click="show();">Show status bar</button>
  </ion-content>
</ion-view>
