<ion-view title="Toast">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header center">
    <h1>Toast</h1>
    <p class="description">
        his plugin allows you to show a native Toast (a little text popup) on iOS, Android and WP8.
        It's great for showing a non intrusive native notification which is guaranteed always in the viewport of the browser.
    </p>
      <button class="button button-stable button-block" ng-click="show();">Show Toast</button>
      <button class="button button-stable button-block" ng-click="showST();">Show Short Toast in top</button>
      <button class="button button-stable button-block" ng-click="showLB();">Show Long Toast in bottom</button>
  </ion-content>
</ion-view>
